<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>pageDoer</title>
    <link rel="stylesheet" href="style.css">
</head>

<body class="margin">
<style>
    .margin {
        margin: 0;
        padding: 0;
        background-color: burlywood;
        border-radius: 1px 1px 1px 1px;
        border-color: rgb(172, 107, 23);
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    }

</style>

<div>
    <a href="/mainPage"> <img src="home2.png" style="margin-bottom: 20px;"></a>
</div>
<div>
    <h2><span th:text="${name}" /></h2>
</div>

<table>
    <tr th:each="quotesDoer : ${quotesDoer}">
        <td th:text="${quotesDoer.text}">

        </td>

        <td> <a th:href="@{/likesQuote(idDoer=${(quotesDoer.getDoer.getId)}, idQuote=${(quotesDoer.id)})}"> <img src="like32px.png"></a><td>

        <td> <a th:text="${quotesDoer.likes}"></a><td>

</table>

</body>
</html>